//SECTIONS

@use 'sections/header';
@use 'sections/section-bf';
@use 'sections/section-rd';
@use 'sections/section-dm';
@use 'sections/section_rn';

//COMPOTENTS
@use 'components/icons';
@use 'components/colors';
@use 'components/animation';
@use 'components/mixins';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    /* border: 1px solid tomato; */
}

body {
    width: 100%;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





//Header
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');