@use '../components/colors' as *;
@use '../components/icons' as *;
@use '../components/animation' as *;



header {
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2020/11/10/21/00/boy-5731001_960_720.jpg);
    background-size: cover;
    background-position: center;
    mask-repeat: no-repeat;
    font-family: 'PT Serif', serif; 


    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(54, 51, 51, 0.15); 
        width: 100%; 
        height: 100%;
    } 


    .nav-container {
        z-index: 1;
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed; 
        animation: nav-container 10s  normal 1 ;
        background-color: $green-4;


    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: rgba(17, 17, 17, 0.1); */
        width: 100%;
        height: 100%;
    } 


        .nav-logo{
            color: $green-1;
            font-size: 1.2rem;

            &::before{
                content: "\e59d";
                font-family: "FontAwesome";
                padding-right: 0.5rem;
            }
        }

        .nav-icon{
            display: flex;
            justify-content: space-between;

            

            li{
                color: $white-2;
                padding: 0.7rem; //이 시발놈
                /* border: 1px solid red; */
                

                &:first-of-type::after{
                    content: "\f218";
                    font-family: "FontAwesome";
                    @include nav-icon;
                        
                    }
                    

                &:nth-child(2)::after{
                    content: "\f002";
                    font-family: "FontAwesome";
                    @include nav-icon;
                }

                &:nth-child(3)::after{
                    content: "\f0c9";
                    font-family: "FontAwesome";
                    @include nav-icon;
                }
            
            }
        }
    }  

    .nav-quotes{
        padding: 1rem;
        width: 70%;
        
        &:before {
            content: "cool.";
            animation: header-text 10s infinite 0s;
            font-size: 5rem;
            color: white;
            height: 100vh;
        }
        
        
        h1{
            font-size: 1.9rem;
            /* color: $green-1; */
            color: white;
            padding-top: 1rem;
        }

        .q1{
            margin-top: 6rem;
        }

        p{
            padding-top: 1rem;
            padding-left: 3rem;
            font-size: 1.9rem;
            color: white;
        }
    }

}



@media /* only screen and (min-width: 360px) and  */(max-width: 600px) {
        .nav-container{
            display: none;

            .nav-bar{
                display: none;
            }
        }
    
}  


@media (min-width: 601px) {

    header{
        width: 100%;
        

    .nav-container{
        display: flex;
        justify-content: space-between;
        padding: 2rem;

        .nav-bar{
            display: flex;
            justify-content: space-between;
    
            a{
                color: $white-2;
                padding: 1rem;
                font-size: 1.6rem;
                
            }
        }

        .nav-logo{
                position: absolute;
                font-size: 2rem;
                left: 45%;
            }

        .nav-icon{

            li{
                padding: 1.5rem;
                font-size: 1.4rem;
            }
        }
    
    }

    .nav-quotes{
        padding-left: 20rem;
        padding-top: 13em;

        h1{
            font-size: 3rem;
            padding: 1rem;
        }
    }
}

}