@use '../components/colors' as *;
@use '../components/mixins' as *;


.dm-container{
    display: flex;
    width: 100%; // 이게없으면 이미지들 크기가 난리남
    flex-direction: column;
    justify-content: center;
    


    h1{
        color: $black;
        border: 1px ;

        

        .new{
            @include red_underline;
        }
    }

}
.dm-wrapper{
    width: 100%;
   /*  width: calc(100% - 6em); */
    //그냥 margin: 4rem을 추가하면 밑에 under scrollbar가 생김
    height: 100vh;
    display: flex; //이게 없으면 이미지박스가 밑으로 밀려남
    justify-content: center;
    align-content: center;


    .dm-boxes-text{
        width: 50%;
        height: 100vh;
        color: $black;
        position: relative;
        /* animation: dm-boxes-text 20s infinite 0s; */ 
        //dosen't work


        &::before {
            content: "";
            animation: dm-boxes-text 20s infinite 0s;
        }

        .text-wrapper{
            width: 30rem;
            height: 5rem;
            /* border: 1px solid tomato; */
            position: absolute;
            top: 52rem;
            right: 47.35rem;
            display: flex;

            div{
                text-align: center;
                width: 100%;
                font-size: 3rem;
                border-radius: 5px;


            }

            .price {
                background-color: $white-1;
                color: $black;

                &:hover{
                background-color: $black;
                color: rgb(241, 237, 237);
                background-color: rgb(125, 155, 115);
                cursor:  pointer;

                box-shadow: inset 6.5em 0 0 0 rgb(125, 155, 115);
                }

                &::before {
                content: "";
                animation: price 20s infinite 0s;
                    }
            
                }
            
            
                .buy {
                background-color: $black;
                color: white;

                &:hover{
                background-color: white;
                color: $black;
                background-color: rgb(125, 155, 115);
                    cursor: pointer;

                }

            }

        }

    }

    .dm-boxes-img{
        width: 50%;
        height: 100vh;
        animation: dm-boxes-img 20s ease-in infinite 0s;
        padding-top: 3rem;
    }
}

@media (max-width: 600px) {

.dm-container{

    h1{
        @include heading-m;
    }

    .dm-wrapper{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            box-orient: vertical;
            

            .dm-boxes-text{
                width: 100%;
                height: 40vh;
                font-size: 2em;
                padding: 2rem;
                order: 2; //swap div position

                .text-wrapper{
                    width: 12rem;
                    height: 2.5rem;

                    position: absolute;
                    top: -2.25rem;
                    right: 3.45rem;
                    display: flex;

                    div{
                        text-align: center;
                        width: 100%;
                        font-size: 1.5rem;
                        border-radius: 4px;
                        border: 1px solid rgb(170, 163, 163);

            }
            }
                
            }
            .dm-boxes-img{
                width: 100%;
                height: 50vh;
                order: 1; //swap div position
            }
        }
}      
}


@media (min-width: 601px) {
.dm-container{
      h1{
        @include heading-d;

    }


    .dm-wrapper{
            display: flex;
            flex-wrap: nowrap;
        
            .dm-boxes-text{
                width: 40%;
                font-size: 6em;
                padding: 3rem 7rem 0rem 0rem;
                /* background-color: tomato; */
                
            }

            .dm-boxes-img{
                width: 60%;

            }

            
        }
    
}  

}
