@use '../components/colors' as *;


.dm-container{
    display: flex;
    width: 100%; // 이게없으면 이미지들 크기가 난리남
    flex-direction: column;

    h1{
        color: $black;
    }

}
.dm-wrapper{
    width: 100%;
   /*  width: calc(100% - 6em); */
    //그냥 margin: 4rem을 추가하면 밑에 under scrollbar가 생김
    height: 100vh;
    display: flex; //이게 없으면 이미지박스가 밑으로 밀려남
    justify-content: center;
    align-content: center;


    .dm-boxes-text{
        width: 50%;
        height: 100vh;
        color: $black;
        /* background-color: tomato; */
        /* animation: dm-boxes-text 20s infinite 0s; */ 
        //dosen't work


        &:before {
            content: "";
            animation: dm-boxes-text 20s infinite 0s;
        }

    }

    .dm-boxes-img{
        width: 50%;
        height: 100vh;
        animation: dm-boxes-img 20s infinite 0s;
        padding-top: 3rem;
    }
}

@media (max-width: 600px) {

    h1{
        font-size: 3rem;
        padding: 2rem 2rem 0rem 2rem;
    }

    .dm-wrapper{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            box-orient: vertical;
            

            .dm-boxes-text{
                width: 100%;
                height: 40vh;
                font-size: 2.5em;
                padding: 2rem;
                order: 2; //swap div position
            }

            .dm-boxes-img{
                width: 100%;
                height: 45vh;
                order: 1; //swap div position
            }

            
        }
    
}  

@media (min-width: 601px) {

    h1{
        font-size: 6rem;
        padding: 6rem ;
    }


    .dm-wrapper{
            display: flex;
            flex-wrap: nowrap;
            /* margin-top: 10vh; */
            

            .dm-boxes-text{
                width: 40%;
                font-size: 6em;
                padding: 3rem 1rem 1rem 5rem;
                
            }

            .dm-boxes-img{
                width: 60%;

            }

            
        }
    
}  