@use '../components/colors' as *;
@use '../components/mixins' as *;

.rd-container{

    width: 100%;

    .rd-heading{
        .red{
            color: $n-green-2; // WELL 글씨
        }
    }
    .rd-boxes{
        display: flex;
        background-color: $n-green-2;
        width: 100%;
        justify-content: center;
        padding: 1rem;

        .rd-items{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            img{
                
                width: 80%;
                height: 40vh;
                object-fit: fill;



            }

            .rd-items-text{
                display: flex;
                flex-direction: column;
                /* justify-content: center; */
                align-items: center;
                width: 80%;
                height: 20vh;
                color: $n-white-1;
                /* background-color: rgb(190, 186, 186); */

                h2{
                    
                    font-size: 1.5rem;
                    padding: 0.3rem;
                }

                p:nth-child(2){
                    font-size: 1rem;
                    padding-top: 0.3rem;
                }

                .rd-button{
                    background-color: $n-green-1;
                }
                
                .rd-button{
                    padding: 0.5rem;
                    margin-top: 0.7rem;
                    box-shadow: rgba(12, 6, 6, 0.2) 0px 2px 8px 0px;

                    border-radius: 10px;

                    &::after{
                        content: "\f061";
                        font-family: "FontAwesome";
                        padding-right: 0.5rem;
                        padding-left: 0.3rem;
                    
                    }

                    &:hover{
                        transform: scale(120%, 120%)
                    }

                }
            
            }

        
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
    
    .rd-container{

        .rd-heading{
            font-size: 2em;
            color: $black;
            padding:1rem;
        }
    
        .rd-boxes{
                flex-direction: column;

                .rd-items{
                    flex-direction: column;
                    width: 100%;


                }
            }
    }
}


@media (min-width: 601px) {

    .rd-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem;

        .rd-heading{
            align-self: flex-start;
            padding: 1rem;

            h1{
                @include heading-d;
            }
        }
        

        .rd-boxes{
            display: flex;
            flex-direction: center;
            align-items: center;
            justify-content: space-evenly;


            .rd-items{
                display: flex;
                flex-direction: column;
                

                img{
                    width: 22rem;
                    height: 25rem;
                }

                .rd-items-text{
                    height: 15vh;
                    
                    h2{
                        font-size: 2em;
                        padding: 0.3rem;
                        
                    }

                    p:nth-child(2){
                    font-size: 1.5rem;
                    text-align: center;
                    width: 100%;
                    
                }
                }
            }
        }
    }
} 