@use '../components/colors' as *;

//HEADER

@keyframes nav-container {
    0% {
        opacity: 0;
        /* background-color: rgba(151, 147, 147, 0.1); */
    }

    50% {
        opacity: 0;
    }

    95%{
        background-color: rgba(151, 147, 147, 0.5);
        opacity: 0.3;
    }

    100%{
        opacity: 1;
    }
}



@keyframes header-text {
    0%,100% {  // 0%, 100%는 내용이 같아야 흐름이 스무스하다.
    content: "ㅤㅤ";
    }

    16% {  
    content: "The more that you read, ";
    }

    31% {  
    content: "The more that you read, ";
    }

    32% { 
    content: "The more that you read, ";
    }


    48% {
    content: "The more that you read, ㅤㅤthe more things you will know. The more that you learn,";


    }

    64% {
    content: "The more that you read, ㅤㅤthe more things you will know. The more that you learn, ㅤㅤthe more places you’ll go.";

    }
    
    80% {
    content: "The more that you read, ㅤㅤthe more things you will know. The more that you learn, ㅤㅤthe more places you’ll go. ㅤㅤㅤㅤ-Dr. Seuss";
    }
}


@keyframes header-text-desk {
    0%,100% {  // 0%, 100%는 내용이 같아야 흐름이 스무스하다.
    content: "The more that you read, ";
    }

    20% {
    content: "The more that you read, ㅤthe more things you will know. ";

    }

    40% {
    content: "The more that you read, ㅤthe more things you will know. ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤThe more that you learn,";


    }

    60% {
    content: "The more that you read, ㅤthe more things you will know. ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤThe more that you learn, the more places you’ll go.";

    }

    
    
    80% {
    content: "The more that you read, ㅤthe more things you will know. ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤThe more that you learn, the more places you’ll go. ㅤ-Dr. Seuss";
    }
}




// _SECITON-DM

@keyframes dm-boxes-text {
    0%,100% {  // 0%, 100%는 내용이 같아야 흐름이 스무스하다.
    content: "Land Rover Topographic CALLENDAR";
    background-repeat: repeat;
    }
    25% {
    content: "Salvador Dali, un Catalan à l'attaque de la capitale";
    background-size: cover;
    background-repeat: no-repeat;

    }
    
    50% {
    content: "GRØNN ㅤㅤMAGAZINE Issue";

    background-size: cover;
    background-repeat: no-repeat;
    
    }
    
    75% {
    content: "DESIGN PORTFOLIO - by Riccardo Zecchini";

    background-size: cover;
    background-repeat: no-repeat;
    }
}



@keyframes dm-boxes-img {
    0%,100% {  // 0%, 100%는 내용이 같아야 흐름이 스무스하다.
    background-image: url("https://i.pinimg.com/564x/c1/5e/97/c15e9753d9a5dcc431b1d055046e4bdd.jpg");
    background-size: 80% 90%; //전반적인 책 이미지에 알맞는 크기
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-position: center; //백그라운드 그림의 포인트뿐만이 아닌 
                                    //백그라운드 포지션 자체를 중간에!

    }
    25% {
    background-image: url("https://i.pinimg.com/564x/ad/7c/e4/ad7ce4041dde3e35035f312fa504d67d.jpg");
    }
    
    50% {
    background-image: url("https://i.pinimg.com/564x/5a/7a/e9/5a7ae99d0f09258b445f5382807cd9a8.jpg");
    }
    
    75% {
    background-image: url("https://i.pinimg.com/564x/14/0a/3e/140a3eb934231384e59b11da2cebdee7.jpg");
    }
}

