// MY THEME COLORS

$white-1: rgb(238, 240, 239);
$white-2: rgb(226, 226, 224);
$green-1: rgb(201, 208, 201);
$green-2: rgb(166, 176, 168);
$green-3: rgb(131, 142, 146);
$green-4: rgb(136, 150, 101);
$brown-1: rgb(182, 143, 126);
$brown-2: rgb(121, 103, 99);
$brown-3: rgb(86, 67, 63);
$black: #424242;
$gray-1: #dddddd;

