// MY THEME COLORS

$white-1: rgb(238, 240, 239);
$white-2: rgb(226, 226, 224);
$white-3: #fff6e7;
$green-1: rgb(201, 208, 201);
$green-2: rgb(166, 176, 168);
$green-3: rgb(141, 144, 145);
$green-4: rgb(136, 150, 101);
$brown-1: rgb(182, 143, 126);
$brown-2: rgb(121, 103, 99);
$brown-3: rgb(86, 67, 63);
$black: #424242;
$black-2: rgb(40, 40, 40);
$gray-1: #dddddd;

//NATURE PALETTE

$n-green-2: #6e774d;
$n-green-1: #909870;
$n-brown-1: #f7e9da;
$n-brown-2: #d8d4cd;
$n-white-1: rgb(224, 223, 222);


//hover 

$footer-hover: white;