@use "../components/colors" as *;


@mixin heading-d {
        font-size: 6rem;
        padding: 6rem ;
        color: $black;

}

@mixin heading-m {
        font-size: 3rem;
        padding: 1.3rem ;
        color: $black;
}

@mixin red_underline{
    border-bottom: 0.5rem solid rgb(160, 61, 43);
}