

@mixin h1-m{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

@mixin h2-m{
    font-size: 1.5rem;
    padding: 0.5rem 0;
}


@mixin h3-m{
    font-size: 1.3rem;
    padding: 0.3rem 0;
}
@mixin p-m{
    font-size: 1.1rem;
    padding: 0.2rem 1rem;
}